@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

/*Header*/
@media screen and (min-width: 320px) and (max-width: 767.98px) {
  .menu {
    display: none;
  }

  .contact-details {
    display: none;
  }

  .logo {
    padding: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header-menu-btn {
    display: none;
  }

  .address-list {
    display: block;
  }
}

@media screen and (min-width: 1158px) {
  .address-list {
    display: flex;
  }
}
/*END Header*/

/*Page title*/

/*background image*/
@media screen and (min-resolution: 192dpi) {
  .first-page-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/back-title_mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .first-page-section {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/back-title_tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .first-page-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/back-title_tab@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .first-page-section {
    max-width: 1158px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/back-img_desk.jpg);
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .first-page-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/back-title_desk@2x.jpg);
  }
}
/*background image*/

@media screen and (min-width: 768px) {
  .page-title {
    font-size: 56px;
    margin-bottom: 48px;
  }
}
/*END Page title*/

/* Studio*/
@media screen and (min-width: 320px) {
  .studio-list-icons {
    display: none;
  }

  .studio-list-elements .sub-title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .studio-list {
    gap: 72px 24px;
  }

  .studio-list-elements {
    flex-basis: calc((100% - 72px) / 2);
  }

  .studio-list-elements .sub-title {
    text-align: left;
  }

  .text {
    width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .studio-list {
    gap: 72px 24px;
    flex-wrap: nowrap;
  }

  .studio-list-elements {
    flex-basis: ((100% - 72px) / 4);
  }

  .studio-list-icons {
    display: flex;
  }

  .sub-title {
    font-size: 20px;
    font-weight: 500;
  }

  .text {
    width: 264px;
    font-weight: 400;
  }
}
/*END Studio*/

/* Our team*/
@media screen and (min-width: 768px) {
  .our-team-list {
    gap: 64px 24px;
  }

  .team-info {
    flex-basis: calc((100% - 24px) / 4);
  }
}

@media screen and (min-width: 1158px) {
  .our-team-list {
    gap: 24px;
  }

  .team-info {
    flex-basis: calc((100% - 72px) / 4);
  }
}
/*END Our team*/

/*Our Portfolio*/
@media screen and (min-width: 768px) {
  .our-portfolio-list {
    gap: 72px 24px;
  }

  .our-portfolio-elements {
    flex-basis: calc((100% - 24px) / 2);
    width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .our-portfolio-list {
    gap: 48px 24px;
  }

  .our-portfolio-elements {
    flex-basis: calc((100% - 48px) / 3);
    width: 360px;
  }
}

/*END Our Portfolio*/

/* Footer */
@media screen and (max-width: 768px) {
  .footer-subtitle {
    text-align: center;
  }
}
/* END Footer */

/*Mobile menu*/

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}
